.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  .row {
    display: flex;
    flex-wrap: wrap;

    .twelve-columns {
      max-width: 100%;
      padding: 0 10px;
      margin-bottom: 1rem;
    }

    .six-columns {
      max-width: 50%;
      padding: 0 15px;
      margin-bottom: 1rem;
    }

    .four-columns {
      max-width: 25%;
      padding: 0 15px;
      margin-bottom: 1rem;
    }

    .three-columns {
      max-width: 33.333333%;
      padding: 0 15px;
      margin-bottom: 1rem;
    }
  }
}

// @media (min-width: 1200px) {
//   .container {
//     max-width: 1140px;
//   }
// }

// @media (min-width: 768px) {
//   .container {
//     max-width: 720px;
//   }
// }

// @media (min-width: 576px) {
//   .container {
//     max-width: 540px;
//   }
// }
