.header {
  background-color: $alt-bg;
  color: #fff;
  display: flex;
  margin-bottom: $xl-size;
  padding: $s-size 0;
  height: 60px;

  a.brand {
    text-decoration: none;
    font-weight: 600;
    color: $primary-color;
    margin: 5px auto;
  }
}
