// font-family
$font-stack: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

// colors
$main-bg: #f8f9fe;
$alt-bg: #009de0;
$primary-color: #525f7f;
$neutral-color: #efefef;

// sizing
$xs-size: 1rem;
$s-size: 1.2rem;
$m-size: 2.4rem;
$l-size: 3.6rem;
$xl-size: 4.8rem;
